{% extends "profile/layout.html" %}
{% block body %}

<div calss="row">
	<div class="col-xs-6 account-left"  style="border-right:1px solid #eee;">
		<div class="row">
			<h2 style="color:#959595;  padding-left:10px">Account</h2>
			<hr style="width:95%">
		</div>
		<div style="min-width:200px">
			<div class="row">
				<div class="col-xs-6">
					<div  class="account_section">
						<p>
							All investments
						</p>
						<a href="makedeposit" class="btn btn-info"  style="margin-bottom:10px">Make deposit</a>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="account_numbers">
						<p>{{g_invusd}}<span>$</span></p>
						<p  class="bit">{{g_invbtc}}<span>Ƀ</span></p>
					</div>
				</div>
				<div>
					<hr style="width:95%; margin-top: 90px;">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div  class="account_section">
						<p style="margin-bottom:10px">
							All withdraws
						</p>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="account_numbers">
						<p>{{g.user.account.balance}}<span>$</span></p>
						<p  class="bit">{{g.user.account.balance}}<span>Ƀ</span></p>
					</div>
				</div>
				<div>
					<hr style="width:95%; margin-top: 90px;">
				</div>	
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div  class="account_section">
						<p style="margin-bottom:10px">
							Referral bonuses
						</p>
						<div class="col-xs-6" style="margin-left:-15px">
							<a href="makedeposit" class="btn btn-info"  style="margin-bottom:10px">Invest</a>
						</div>
						<div class="col-xs-6" style="margin-left:15px">
							<a href="makedeposit" class="btn btn-info"  style="margin-bottom:10px">Withdraw</a>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="account_numbers">
						<p>{{g.user.account.balance}}<span>$</span></p>
						<p  class="bit">{{g.user.account.bitcoin}}<span>Ƀ</span></p>
					</div>
				</div>
				<div>
					<hr style="width:95%; margin-top: 90px;">
				</div>	
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div  class="account_section">
						<p style="margin-bottom:10px">
							Current profit
						</p>
						<div class="col-xs-6" style="margin-left:-15px">
							<a href="makedeposit" class="btn btn-info"  style="margin-bottom:10px">Invest</a>
						</div>
						<div class="col-xs-6" style="margin-left:15px">
							<a href="makedeposit" class="btn btn-info"  style="margin-bottom:10px">Withdraw</a>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="account_numbers">
						<p>{{g_ernusd}}<span>$</span></p>
						<p  class="bit">{{g_ernbtc}}<span>Ƀ</span></p>
					</div>
				</div>
				<div>
					<hr style="width:95%; margin-top: 90px;">
				</div>	
			</div>
		</div>
	</div>

	<div class="col-xs-6 account-right" >
		<div class="row">
			<h2 style="color:#959595;  padding-left:10px">Investment</h2>
			<hr style="width:95%">
		</div>
<!-- 		<div class="row">
			<div class="col-xs-6">
				<div  class="account_section">
					<a href="referrals" class="btn btn-info"  style="margin-bottom:10px">Referrals history</a>
				</div>
			</div>
			<div class="col-xs-6">
				<a href="deposits" class="btn btn-info"  style="margin-bottom:10px">Deposits history</a>
			</div>
			<div>
				<hr style="width:95%; margin-top: 90px;">
			</div>
		</div> -->
		<div class="row">
			<div class="col-xs-8" style="border-right:1px solid #eee;">
				<div class="account_detail_section">
					<p>Invested amount</p>
				</div>
				<br>
				<div class="account_detail_section">
					<p>Current balance</p>
				</div>
				<br>
				<div class="account_detail_section">
					<p>Daily interest</p>
				</div>
				<div class="account_detail_section">
					<p>Investment active days</p>
				</div>
				<div class="account_detail_section">
					<p>Investment date</p>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="account_detail_section">
						<p>{{g.user.account.balance}}<span>$</span></p>
						<p class="bit">{{g.user.account.bitcoin}}<span>Ƀ</span></p>
				</div>

				<div class="account_detail_section">
						<p>{{g.user.account.balance}}<span>$</span></p>
						<p class="bit">{{g.user.account.bitcoin}}<span>Ƀ</span></p>
				</div>
				<div class="account_detail_section">
						<p>3%</p>
				</div>
				<div class="account_detail_section">
						<p>6 days</p>
				</div>
				<div class="account_detail_section">
						<p>2018-01-21</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <div class="row">
	<h4>Active investments</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Investment Plan</th>
				<th>Start</th>
				<th>End</th>
				<th>Amount invested</th>
				<th>Current ammount</th>
			</tr>
		</thead>
	{% for inv in accInvestments %}
		<tr>
			<td>{{ inv.investmentPlan.description }}</td>
			<td>{{ inv.startDatetime }}</td>
			<td>{{ inv.endDatetime }}</td>
			<td>{{ inv.initialInvestment }} {{inv.payment_unit}}</td>
			<td>{{ inv.currentBalance }} {{inv.payment_unit}}</td>
		</tr>
	{% endfor %}
	</table>
</div> -->

{% endblock %}
