{% extends "profile/layout.html" %}
{% block body %}

<div class="row">
	<h2 style="color:#959595">Account</h2>
	<hr style="width:100%">
</div>
<div style="min-width:200px">
<div class="row">
	<div class="col-xs-6">
		<div  class="account_section">
			<p>
				Current balances
			</p>
			<a href="makedeposit" class="btn btn-info"  style="margin-bottom:10px">Make deposit</a>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="account_numbers">
			<p>{{g.user.account.balance}}<span>$</span></p>
			<p>{{g.user.account.balance}}<span>€</span></p>
			<p>{{g.user.account.balance}}<span class="bit">Ƀ</span></p>
		</div>
	</div>
	<div>
		<hr style="width:100%; margin-top: 90px;">
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<div  class="account_section">
			<p style="margin-bottom:10px">
				Active investments
			</p>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="account_numbers">
			<p>{{g.user.account.balance}}<span>$</span></p>
			<p>{{g.user.account.balance}}<span>€</span></p>
			<p>{{g.user.account.balance}}<span class="bit">Ƀ</span></p>
		</div>
	</div>
	<div>
		<hr style="width:100%; margin-top: 90px;">
	</div>	
</div>
<div class="row">
	<div class="col-xs-6">
		<div  class="account_section">
			<p style="margin-bottom:10px">
				Rreferral bonuses
			</p>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="account_numbers">
			<p>{{g.user.account.balance}}<span>$</span></p>
			<p>{{g.user.account.balance}}<span>€</span></p>
			<p>{{g.user.account.balance}}<span class="bit">Ƀ</span></p>
		</div>
	</div>
	<div>
		<hr style="width:100%; margin-top: 90px;">
	</div>	
</div>
<div class="row">
	<div class="col-xs-6">
		<div  class="account_section">
			<p style="margin-bottom:10px">
				Summary
			</p>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="account_numbers">
			<p>{{g.user.account.balance}}<span>$</span></p>
			<p>{{g.user.account.balance}}<span>€</span></p>
			<p>{{g.user.account.balance}}<span class="bit">Ƀ</span></p>
		</div>
	</div>
	<div>
		<hr style="width:100%; margin-top: 90px;">
	</div>	
</div>
</div>
<!-- <div class="row">
	<h4>Active investments</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Investment Plan</th>
				<th>Start</th>
				<th>End</th>
				<th>Amount invested</th>
				<th>Current ammount</th>
			</tr>
		</thead>
	{% for inv in accInvestments %}
		<tr>
			<td>{{ inv.investmentPlan.description }}</td>
			<td>{{ inv.startDatetime }}</td>
			<td>{{ inv.endDatetime }}</td>
			<td>{{ inv.initialInvestment }} {{inv.payment_unit}}</td>
			<td>{{ inv.currentBalance }} {{inv.payment_unit}}</td>
		</tr>
	{% endfor %}
	</table>
</div> -->

{% endblock %}
