{% extends "profile/layout.html" %}
{% block body %}

<div class="row">
	<h1>Investments</h1>
</div>

<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Investment Plan</th>
				<th>Start</th>
				<th>End</th>
				<th>Deposit</th>
			</tr>
		</thead>
	{% for inv in accInvestments %}
		<tr>
			<td>{{ inv.investmentPlan.description }}</td>
			<td>{{ inv.startDatetime }}</td>
			<td> {% if inv.endDatetime == None%} -- {% else %} {{inv.endDatetime}} {% endif %}</td>
			<td>{{ inv.initialInvestment }} {{inv.payment_unit}}</td>
		</tr>
	{% endfor %}
	</table>
</div>

{% endblock %}
