{% extends "profile/layout.html" %}
{% block body %}

<div class="row">
	<h2 style="color:#959595;  padding-left:10px">INVESTMENTS</h2>
	<hr style="width:100%">
</div>

<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Plan</th>
				<th>Start</th>
				<th>End</th>
				<th>Deposit</th>
			</tr>
		</thead>
	{% for inv in accInvestments %}
		<tr>
			<td>{{ inv.investmentPlan.description }}</td>
			<td>{{ inv.startDatetime | only_date }} <span class="hidden-xs">{{ inv.startDatetime | only_time }}</span></td>
			<td> {% if inv.endDatetime == None%} -- {% else %} {{inv.endDatetime | only_date }} <span class="hidden-xs">{{ inv.endDatetime | only_time }}</span> {% endif %}</td>
			<td>{{ inv.initialInvestment }} {{inv.payment_unit}}</td>
		</tr>
	{% endfor %}
	</table>
</div>

{% endblock %}
