{% from "macros.html" import active_link, nav_link with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SolarBit</title>

    <!--Favicon add-->
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/fevicon.png')}}">
    <!--bootstrap Css-->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <!--Style Css-->
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/profile.css')}}" rel="stylesheet">
    <!--font-awesome Css-->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">        
</head>

<body>

<div class="SocialQA">
    <ul id="socials">
        <li><i class="fa fa-facebook"></i></li>
        <li><i class="fa fa-twitter"></i></li>
        <li><i class="fa fa-youtube-play"></i></li>
    </ul>
</div>

	<div class="row" style="height:50px">
		<div class="navbar navbar-fixed-top navbar-default top-navbar" role="navigation" style="clear:both">
		    <div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="#">Project name</a>
		        </div>
		        <div class="collapse navbar-collapse">
		            <ul class="nav navbar-nav navbar-right">
		                {{ nav_link('home.index', "HOME") }}
	                    {{ nav_link('home.about', "ABOUT") }}
	                    {{ nav_link('home.service', "SERVICE") }}
	                    {{ nav_link('home.faq', "FAQ") }}
	                    {{ nav_link('home.contact', "CONTACT") }}
		                {% if g.user.is_authenticated %}
		                	<li><a href="{{url_for('userprofile.dashboard')}}"><span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-user"></span> {{g.user.username}}</a>
	                        {{ nav_link('home.logout', "LOGOUT") }}
	                    {% endif %}
		            </ul>
		        </div>
	 		</div>
		</div> 
	</div>


<!-- {% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="alert">
	    <ul class="flashes">
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	</div>
{% endif %}
{% endwith %}
 -->
	<div class="main-area">
		<nav class="navbar navbar-default sidebar" role="navigation">
<!-- 				<div class="close_menu">
		      		<span class="showopacity glyphicon glyphicon-transfer"></span>
		      	</div> -->
		    <div class="container-fluid">
		      <ul class="nav left-side-nav">

		        <li {{active_link('dashboard')}}><a href="{{url_for('userprofile.dashboard')}}">My Account <span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-user"></span></a></li>
		        <li {{active_link('makedeposit')}}><a href="{{url_for('userprofile.makedeposit')}}">Make Deposit <span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-plus"></span></a></li>
		        <li {{active_link('deposits')}}><a href="{{url_for('userprofile.deposits')}}">Deposits <span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-th-list"></span></a></li>
		        <li {{active_link('wallets')}}><a href="{{url_for('userprofile.wallets')}}">Wallets <span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-credit-card"></span></a></li>
		        <li {{active_link('activity')}}><a href="{{url_for('userprofile.activity')}}">Activity history <span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-road"></span></a></li>
		        <li {{active_link('referrals')}}><a href="{{url_for('userprofile.referrals')}}">Referrals <span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-bullhorn"></span></a></li>
		        <li {{active_link('withdraw')}}><a href="{{url_for('userprofile.withdraw')}}">Withdraw <span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-usd"></span></a></li>
		        <li {{active_link('withdraws_history')}}><a href="{{url_for('userprofile.withdraws_history')}}">Withdraw history <span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-calendar"></span></a></li>
		        <li {{active_link('help')}}><a href="#">Help <span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-question-sign"></span></a></li>
		      </ul>
		  </div>
		</nav>

		<div class="main">
			{% block body %}{% endblock %}
<!-- 		    <footer class="footer-section section-padding padding-bottom-0 text-center">
		           <div class="container">
		               <div class="row ">
		                   <div class="col-md-6 col-md-offset-3">
		                       <div class="footer-logo">
		                           <a href="index.html"><img src="static/img/footer-logo.png" alt="Footer Logo"></a>
		                       </div>
		                       <p class="footer-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		                   </div>
		               </div>
		               <div class="row">
		               <div class="col-md-4 col-md-offset-4">
		                  <div class="footer-social-link">
		                      <h3>Follow Us on</h3>
		                      <div class="social-link">
		                          <a href=""><i class="fa fa-facebook"></i></a>
		                          <a href=""><i class="fa fa-twitter"></i></a>
		                          <a href=""><i class="fa fa-behance"></i></a>
		                          <a href=""><i class="fa fa-instagram"></i></a>
		                          <a href=""><i class="fa fa-pinterest"></i></a>
		                      </div>
		                  </div>
		               </div>
		               </div>
		           </div>

		    </footer> -->
		</div>
	</div>
	<div class="footer-bottom">
       <p class="copyright-text">COPY RIGHTS &copy; 2018. ALL RIGHTS RESERVED </p>
   	</div>

<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/profile.js')}}"></script>

</body>
</html>
