{% extends "profile/layout.html" %}
{% block body %}

<form action="{{ url_for('userprofile.confirm_deposit') }}" method=post class="form-horizontal"> 
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<div class="block" style="border:1px">
	<div class="row">
		<div class="span3">
			<h4>Select Payment System</h4>
			{% for ps in  paymentSystems %}
			<label class="radio">
				<input type="radio" name="paymentSystemId" id="paymentSystemId" value="{{ps.id}}" required>
				{{ps.name}}
			</label>
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<h4>Amount</h4>
			<div class="input-append">
				<input name="amount" id="amount" value="" type="text" required style="float:left;width: initial;">
				<select class="form-control" style="width: initial;" name="unit" id="unit" >
						  <option value="USD">$</option>
						  <option value="EUR">€</option>
				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<h4>Select deposit plan</h4>
			{% for ip in  invPlans %}
			<label class="radio">
				<input type="radio" name="invPlanId" id="{{ip.id}}" value="{{ip.id}}" required>
				{{ip.description}}
			</label>
			{% endfor %}
		</div>
	</div>

	<div class="row">
		<div class="span3 offset4">
			<button type="submit" class="btn btn-success btn-large">Invest</button>
		</div>
	</div>

</div>
</form>

{% endblock %}
