{% extends "profile/layout.html" %}
{% block body %}

<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>

<script type="text/javascript">

	$(document).ready(function($) {

		var maxusd = {{ maxusd }};
		var minusd = {{ minusd }};
		var maxbtc = {{ maxbtc }};
		var minbtc = {{ minbtc }};

		$('#validrange').text('[ ' + minusd + "$ - " + maxusd + '$ ]');

		$("input[name=paymentSystemId]").change(function() {
			var ps = document.getElementsByName('paymentSystemId');
			var sign = "$";
			for (var i = 0, length = ps.length; i < length; i++)
			{
				if (ps[i].checked && (ps[i].value == 4 || ps[i].value == 2)) 
				{
					$('#validrange').text('[ ' + minbtc + "Ƀ - " + maxbtc + 'Ƀ ]');
					sign = "Ƀ";
				}
				else if (ps[i].checked && (ps[i].value == 1 || ps[i].value == 3))
				{
					$('#validrange').text('[ ' + minusd + "$ - " + maxusd + '$ ]');
					sign = "$";
				}
			}

			if (sign == '$') {
				$('.cur-sign').removeClass('fa-btc');
				$('.cur-sign').addClass('fa-usd');
			} else {
				$('.cur-sign').removeClass('fa-usd');
				$('.cur-sign').addClass('fa-btc');
			} 

		});

    });

</script>

<style type="text/css">



</style>

<form action="{{ url_for('userprofile.confirm_deposit') }}" method=post class="form-horizontal" id="deposit"> 
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<div class="block" style="border:1px">
		<div class="row">
			<h2 style="color:#959595;  padding-left:10px">DEPOSIT</h2>
			<hr style="width:95%">
		</div>
		<div class="row">
			<h2 style="color:#959595;  padding-left:10px; font-size:22px; padding-bottom:15px">Select source of investment</h2>
		</div>
	<div class="row">

		<div class="col-xs-6 deposit-section">
			<h4>Payment Systems</h4>
			<div style="margin-top:10px">
			{% for ps in  paymentSystems %}
			<!-- <label class="radio"> -->
				<p>
				<input type="radio" name="paymentSystemId" id="paymentSystemId{{ps.id}}" value="{{ps.id}}" required {% if  ps.id == 3 %} checked {% endif %}>
				<!-- {{ps.name}} -->
				<label for="paymentSystemId{{ps.id}}">
				{% if  ps.id == 3 %}
					<img class="pm-img">
				{% else %}
					<img class="bc-img">
				{% endif %}
				</label>
				</p>
			<!-- </label> -->
			{% endfor %}
			</div>
		</div>
		<div class="col-xs-6 deposit-section">
			<h4>Referral bonusses</h4>


			<div style="margin-top:10px">
				<p>
					<input type="radio" name="paymentSystemId" id="paymentSystemIdusd" value="1" required {% if g.user.account.balance == 0 %} disabled {% endif %}>
					<label for="paymentSystemIdusd" class="radiotext">{{g.user.account.balance}}<span class="fa fa-usd"></span>
				</p>
				<p>
					<input type="radio" name="paymentSystemId" id="paymentSystemIdbtc" value="2" required {% if g.user.account.bitcoin == 0 %} disabled {% endif %}>
					<label for="paymentSystemIdbtc" class="radiotext bit">{{g.user.account.bitcoin}}<span class="fa fa-btc"></span>
				</p>
			</div>

		</div>
		<br>
		<hr style="width:95%; margin-top:110px">
	</div>
	<div class="row">
			<div class="col-xs-12 col-md-6 deposit-amount" >
				<h2 style="color:#959595;  padding-left:10px; font-size:22px;">Amount</h2>

				<div class="input-amount">
					<input name="amount" id="inv-amount" type="text" required style="width: 150px; font-weight:600" value="10">
				</div>
				<div class="row">
					<span class="profit-estimate" id="validrange" style="font-size: 14px; margin-left:20px"></span>
				</div>
				<div class="profits">
						<div class="profit-estimate" style="font-weight:600; font-size:16px">
							 Profit after
						</div>
					<div class="col-xs-6">
						<div class="profit-estimate">
							 Day
						</div>
						<div class="profit-estimate">
							 Month
						</div>
						<div class="profit-estimate">
							 Year
						</div>
					</div>
					<div class="col-xs-6">
						<div class="profit-estimate">
							<span class="fa fa-usd cur-sign"></span><span id="prof-value1" class="profit1">0.3</span>
						</div>
						<div class="profit-estimate">
							<span class="fa fa-usd cur-sign"></span><span id="prof-value2" class="profit2">9</span>
						</div>
						<div class="profit-estimate">
							<span class="fa fa-usd cur-sign"></span><span id="prof-value3" class="profit3">109.5</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 current-plan" >
				<h2 style="color:#959595;  padding-left:10px; font-size:22px;">Current investment plan</h2>
				<h5 style="color:#959595;  padding-left:10px; font-size:14px; float:left">Percent</h5>
				<h5 style="color:#63cc88;  padding-left:10px; font-size:14px; text-align:right">{{ip.percentage|clean_float}}%</h5>
				<hr style="width:95%;  margin-top:-30px">  
				<h5 style="color:#959595;  padding-left:10px; font-size:14px; float:left">Withdraw</h5>
				<h5 style="color:#63cc88;  padding-left:10px; font-size:14px; text-align:right">Manual</h5>
				<hr style="width:95%;  margin-top:-30px">  	
				<h5 style="color:#959595;  padding-left:10px; font-size:14px; float:left">Withdraw period</h5>
				<h5 style="color:#63cc88;  padding-left:10px; font-size:14px; text-align:right">24h</h5>
				<hr style="width:95%;  margin-top:-30px">  	
				<h5 style="color:#959595;  padding-left:10px; font-size:14px; float:left">Deposit duration</h5>
				<h5 style="color:#63cc88;  padding-left:10px; font-size:14px; text-align:right">Unlimit</h5>
				<hr style="width:95%;  margin-top:-30px">
				<h5 style="color:#959595;  padding-left:10px; font-size:14px; float:left">Return deposit body</h5>
				<h5 style="color:#63cc88;  padding-left:10px; font-size:14px; text-align:right">No</h5>
			</div>
			<hr style="width:95%; margin-top:90px" class="profits">
	</div>
<!-- 	<div class="row">
		<div class="span4">
			<h4>Select deposit plan</h4>
			{% for ip in  invPlans %}
			<label class="radio">
				<input type="radio" name="invPlanId" id="{{ip.id}}" value="{{ip.id}}" required>
				{{ip.description}}
			</label>
			{% endfor %}
		</div>
	</div> -->

	<div class="row">
		<div class="col-xs-12">
			<button type="submit" class="center-block btn btn-profile btn-large account-btn-middle" style="margin-bottom:90px; margin-top:10px">Invest</button>
		</div>
	</div>
</div>
</form>

{% endblock %}
