{% extends "profile/layout.html" %}
{% block body %}

<div class="row">
	<h1>Referral system</h1>
</div>

<div class="row">
	<div>
		<h4>YOUR REFERRAL LINK</h4><input type="text" id="js-copyInput" value="{{request.host_url}}?ref={{current_user.email}}" readonly="" style="float:left; width:300px">
		<button class="btn btn-success btn-small" onClick="copyToClip()">Copy</button>
	</div>
</div>
<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Username</th>
				<th>Investment</th>
				<th>Earned</th>
				<th>Level</th>
				<th>Payed</th>
				<th>Date</th>
			</tr>
		</thead>
	{% for ref in referrals %}
		<tr>
			<td>{{ ref.username }}</td>
			<td>{{ ref.investment }}</td>
			<td>{{ ref.earned }}</td>
			<td>{{ ref.level }}</td>
			<td>{{ ref.status }}</td>
			<td>{{ ref.date }}</td>
		</tr>
	{% endfor %}
	</table>
</div>

<script type="text/javascript" src="{{url_for('static', filename='js/common.js')}}"></script>

{% endblock %}
