{% extends "profile/layout.html" %}
{% block body %}

<div class="row">
	<h2 style="color:#959595;">REFERRAL SYSTEM</h2>
	<hr style="width:95%; margin-top:5px">
</div>

<div class="row">
	<div>
		<h4 style="color:#959595;">YOUR REFERRAL LINK</h4>
		<input class="amount-input" type="text" id="js-copyInput" value="{{request.host_url}}?ref={{current_user.email}}" readonly="" style="float:left; width:80% !important;">
		<button class="btn btn-profile btn-large" onClick="copyToClip()" style="height:52px; width:80px">Copy</button>
	</div>
</div>

<div class="row">
	<div class="col-xs-6">
		<div {% if g.user.account.referralProgramId == 1 %} class="referr-prog-active" {% else %} class="referr-prog" {% endif %}><i class="fa fa-users"></i>
		<p style="font-size:16px; font-weight:600">Referral program</p>
		<p style="font-size:12px; font-weight:600">Invite your friends to register new account with your referral link and start to earn money for free.</p>
		<p style="font-size:12px; font-weight:600">{{ refprog.level1 }}% of amount invested by your referred friend.</p>
		<p style="font-size:12px; font-weight:600">{{ refprog.level2 }}% of amount invested by your 2nd layer friend.</p>
		<p style="font-size:12px; font-weight:600">{{ refprog.level3 }}% of amount invested by your 3th layer friend.</p>
		</div>
		
	</div>
	<div class="col-xs-6">
		<div {% if g.user.account.referralProgramId == 1 %} class="referr-prog" {% else %} class="referr-prog-active" {% endif %}><i class="fa fa-users"></i>
		<p style="font-size:16px; font-weight:600">VIP Referral program</p>
		<p style="font-size:12px; font-weight:600">Deposit min 500$ and join VIP referral program.</p>
		<p style="font-size:12px; font-weight:600">{{ viprefprog.level1 }}% of amount invested by your referred friend.</p>
		<p style="font-size:12px; font-weight:600">{{ viprefprog.level2 }}% of amount invested by your 2nd layer friend.</p>
		<p style="font-size:12px; font-weight:600">{{ viprefprog.level3 }}% of amount invested by your 3th layer friend.</p>
		</div>
	</div>
	<hr style="width:95%; margin-top:5px">
</div>

<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>User</th>
				<th>Level</th>
				<!-- <th>$</th> -->
				<th>Bonus</th>
				
				<!-- <th>Payed</th> -->
				<th>Date</th>
			</tr>
		</thead>
	{% for ref in referrals %}
		<tr>
			<td>{{ ref.username }}</td>
			<td>{{ ref.level }}</td>
			<!-- <td>{{ ref.investment }}</td> -->
			<td>{{ ref.earned }}</td>
			
			<!-- <td>{{ ref.status }}</td> -->
			<td>{{ ref.date }}</td>
		</tr>
	{% endfor %}
	</table>
</div>

<script type="text/javascript" src="{{url_for('static', filename='js/common.js')}}"></script>

{% endblock %}
