{% extends "profile/layout.html" %}
{% block body %}

<div class="row">
	<h2 style="color:#959595">Wallets</h2>
	<hr style="width:100%">
</div>

<form action="" method=post class="form-horizontal"> 
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	<div class="row">
		{% for wallet in wallets %}
			<div class="row payment-row">
				{% if wallet.psid == 1 %}
				<div class="col-xs-3">
					<img class="pm-img">
				</div>
				<div class="col-xs-9">
					<div class="input-value">
						<input type="text" id="{{wallet.id}}" name="pmwallet{{wallet.unit}}" value="{% if wallet.value != None %}{{wallet.value}}{% endif %}">
						<span class="add-on">{{wallet.unit}}</span>
						<p>Example: U1234567</p>
					</div>
				</div>
				{% endif %}
				{% if wallet.psid == 2 %}																
				<div class="col-xs-3">
					<img class="bc-img">
				</div>
				<div class="col-xs-9">
					<div class="input-value">
						<input type="text" id="{{wallet.id}}" name="bcwallet" value="{% if wallet.value != None %}{{wallet.value}}{% endif %}">
						<span class="add-on">{{wallet.unit}}</span>
						<p>Example: 1BoatSLRHtKNngkdXEeobR76b53LETtpyT</p>
					</div>
				</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
	<div class="row">
		<div>
			<hr style="width:100%">
			<button type="submit" class="btn btn-info btn-lg col-xs-8" style="margin-top:40px">Save</button>
		</div>
	</div>
</form>

{% endblock %}
