{% extends "profile/layout.html" %}
{% block body %}

{% if accWallets == None %}

<div class="row">
		<div class="col-xs-12">
			<h4 style="color:#959595; padding-left:10px; font-size:22px">Please add <a href="{{url_for('userprofile.wallets')}}"> wallets </a> into your account to be able to withdraw</h4>
		</div>

{% else %}

	<form action="{{ url_for('userprofile.confirm_withdraw') }}" method=post class="form-horizontal">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	<div class="block" style="border:1px">

		<div class="row">
			<div class="col-xs-6">
				<h4>Profit from investments</h4>
				{% if accInvs %}
				{% for ai in  accInvs %}
				<label class="radio">
					<input type="radio" name="source" id="source" value="ai{{ai.id}}" required {% if ai.currentBalance - ai.initialInvestment == 0%} disabled {% endif %}>
					{{ai.currentBalance - ai.initialInvestment}}{% if ai.paymentSystemId==3 %}${% else %}Ƀ{% endif %}
				</label>
				{% endfor %}
				{% else %}
				<p>No investments</p>
				{% endif %}
			</div>
			<div class="col-xs-6">
				<h4>Referral bonuses</h4>
				<label class="radio">
					<input type="radio" name="source" id="source" value="rbusd" required {% if g.user.account.balance == 0 %} disabled {% endif %}>
					<div class="account_numbers">
						<p>{{g.user.account.balance}}<span>$</span></p>
					</div>
				</label>
				<label class="radio">
					<input type="radio" name="source" id="source" value="rbbtc" required {% if g.user.account.bitcoin == 0 %} disabled {% endif %}>
					<div class="account_numbers">
						<p>{{g.user.account.bitcoin}}<span>Ƀ</span></p>
					</div>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4>Select Wallet</h4>
				{% for aw in  accWallets %}
				<label class="radio">
					<input type="radio" name="accWalletId" id="{{aw.walletId}}" value="{{aw.walletId}}" required>
					{{aw.wallet.name}} [{{aw.wallet.unit}}]
				</label>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4>Amount</h4>
				<input name="amount" id="amount" value="" type="text" required>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4>PIN</h4>
				<input name="pin_number" id="pin_number" value="" type="text" required>
			</div>
		</div>
		<div class="row">
			<div class="span3 offset4">
				<button type="submit" class="btn btn-success btn-large">Withdraw</button>
			</div>
		</div>

	</div>
	</form>
{% endif %}
</div>

{% endblock %}
