{% extends "profile/layout.html" %}
{% block body %}

<div class="row">
	<h2 style="color:#959595;  padding-left:10px">WITHDRAWS</h2>
	<hr style="width:100%">
</div>


{% if sent %}
<div class="row">
	<h4>You have successfully sent withdraw request. Our backoffice team will withdraw to you wallet during 12 hours.</h4>
</div>
{% endif %}

<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date<span class="hidden-xs">Time</span></th>
				<th>Amount</th>
				<th>Status</th>
			</tr>
		</thead>
	{% for wd in withs %}
		<tr>
			<td>{{ wd.dateTime | only_date}} <span class="hidden-xs">{{ wd.dateTime | only_time}}</span></td>
			<td>{{ wd.amount }} {{wd.wallet.unit}}</td>
			{% if wd.status == False %}
			<td>Pending</td>
			{% else %}
				<td>Complet</td>
			{% endif %}
		</tr>
	{% endfor %}
	</table>
</div>

{% endblock %}
