{% extends "layout.html" %}
{% block main %}

<section class="breadcrumb-section contact-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>ANTI SPAM POLICY</h1>
            </div>
        </div>
    </div>
</section>
 

 <div class="container">
     <div style="margin-top:30px; margin-bottom:50px">
        <h4>Email and Prohibited Content</h4>
        <p>Your use of Solarbit Limited company website https://Solarbit.biz/ is subject to this policy. If you are found to be in violation of our policies at any time, as determined by Solarbit Limited company in its sole discretion, we may warn you, or suspend or terminate your account. Please note that, in accordance with the Solarbit Limited company Terms of Use, we may change this policy at any time. It is your responsibility to keep up-to-date with and comply with this policy.</p>
        <br>
        <h4>Email Requirements</h4>
        <p>Solarbit Limited company has a zero-tolerance SPAM/UCE (unsolicited commercial e-mail) policy. This means that all email recipients must have opted in to, or otherwise validly consented to, receiving communications from you, the sender.</p>
        <p>You are responsible for ensuring that the email messages you send in connection with your surveys do not generate a number of spam complaints. If Solarbit Limited company determines that your level of spam complaints or bounce rate is higher than industry standards, Solarbit Limited, at its sole discretion, has the right to suspend or terminate your account. If you receive low response rates, high abuse rates or high bounce rates, we may request additional information regarding your mailing lists to investigate and attempt to resolve the problem.</p>
        <p>You are responsible for posting false votes or disinformation on public forums or any rating sites without contacting us at first.</p>
        <br>

        <h4>Any breach of this agreement as a whole or individual items can lead to permanent account suspension.</h4>

  </div>
</div>


{% endblock %}
