{% extends "layout.html" %}
{% block main %}

<style>
    #regNumber {
        cursor: pointer;
        color: #63cc88;
    }
</style>

    <!--header section start-->
	<section class="header-section ">
    	<div class="head-slider">
            <div class="single-header slider header-bg">
               <div class="container">
                        <div class="row">
                            <div class="col-md-8 text-left">
                                <div class="header-slider-wrapper">
                                    <h1>OPPORTUNITY <br/> IS WAITING FOR YOU </h1>
                                 <p>We help clients around the world achive their long-term financial goals.</p>
                                </div>
                                <br>
                                <div>
                                    <a href="{{url_for('userprofile.dashboard')}}" class="btn btn-home" style="width:290px; height:65px; font-size:24px; line-height:55px;">OPEN DEPOSIT</a>
                                </div>
                            </div>
                        </div>
                    </div>         
            </div>
            <div class="single-header slider header-bg-2">
               <div class="container">
                        <div class="row">
                            <div class="col-md-8 text-left">
                                <h1>CREATE A<br/>BETTER LIFE</h1>
                                 <p>Investors trust us their captial, and we, in tum, guarantee high returns on your investment.</p>
                                 <br>
                                <div>
                                    <a href="{{url_for('userprofile.dashboard')}}" class="btn btn-home" style="width:290px; height:65px; font-size:24px; line-height:55px;">OPEN DEPOSIT</a>
                                </div>
                            </div>
                        </div>
                    </div>         
            </div>         
        </div>
	</section><!--Header section end-->

    <!--pament method section start-->
    <section class="section-padding about-us-section">
           <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title text-center">
                         <h2>ABOUT US</h2>
                         <br>
                     </div>
                </div>
            </div>
            <div class="row">
                    <div class="row" style="padding-left:20px;padding-right:30px;">

                    </div>
                    
                    <div class="col-xs-6 index-about-us">
                        <div class="row" style="padding-left:20px;padding-right:30px;">
                            <h2 style="color:#959595;  padding-left:10px; font-size:22px; ">Solarbit</h2>
                        </div>
                        <div class="">
                            <p>Solarbit was founded at the end of 2012. The founders of our company are specialists from various fields who got to know each other by using the same platform while investing in cryptocurrency and business development...</p>
                        </div>
                        <div class="profit-estimate">
                            <a href="{{url_for('home.about')}}" class="btn btn-home">More details</a>
                        </div>
                        <div class="profit-estimate">
                            <br>
                            <p>Invest your money with professionals and join the successful investor community ad SolarBit.</p>
                            <div style="border:2px dashed gray; padding:10px; height:90px">
                                <div style="float:left">
                                    <img src="static/img/uklogo.gif" style="height:70px; width:70px;">
                                </div>
                                <div class="regCompany">
                                    <b>REGISTERED UK COMPANY</b>
                                    <p>SolarBit is registered in the UK.</p>
                                    <p>Company number is: <span id="regNumber">#111111</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="col-xs-2 index-plan-percent">
                        <div class="row" style="padding-left:20px;padding-right:30px;">
                            <h2 style="color:#959595;  padding-left:30px; font-size:22px;" > Daily</h2>
                        </div>
                        <div class="numberCircle">3%</div>
                    </div>                    
                    <div class="col-xs-4 current-plan" >
                        <div class="row" style="padding-left:20px;padding-right:30px;">
                            <h2 style="color:#959595;  padding-left:10px; font-size:28px;">Current plan</h2>
                        </div>
                        <h5 style="color:#959595;  padding-left:10px; font-size:18px; float:left">Percent</h5>
                        <h5 style="color:#22b368;  padding-left:10px; font-size:18px; text-align:right">3%</h5>
                        <hr style="width:95%;  margin-top:-30px; border: 1px solid #e4e4e4;">  
                        <h5 style="color:#959595;  padding-left:10px; font-size:18px; float:left">Withdraw</h5>
                        <h5 style="color:#22b368;  padding-left:10px; font-size:18px; text-align:right">Manual</h5>
                        <hr style="width:95%;  margin-top:-30px; border: 1px solid #e4e4e4;">   
                        <h5 style="color:#959595;  padding-left:10px; font-size:18px; float:left">Withdraw period</h5>
                        <h5 style="color:#22b368;  padding-left:10px; font-size:18px; text-align:right">24h</h5>
                        <hr style="width:95%;  margin-top:-30px; border: 1px solid #e4e4e4;">   
                        <h5 style="color:#959595;  padding-left:10px; font-size:18px; float:left">Deposit duration</h5>
                        <h5 style="color:#22b368;  padding-left:10px; font-size:18px; text-align:right">Unlimit</h5>
                        <hr style="width:95%;  margin-top:-30px; border: 1px solid #e4e4e4;">
                        <h5 style="color:#959595;  padding-left:10px; font-size:18px; float:left">Return deposit body</h5>
                        <h5 style="color:#22b368;  padding-left:10px; font-size:18px; text-align:right">No</h5>
                    </div>
                    <hr style="width:95%; margin-top:90px">
            </div>
         </div>
    </section><!--pament method section end-->


     
    <!--Project Done so far start-->
    <section class="completed-projcets section-padding completed-project-bg">
        <div class="container">
             <div class="row text-center wow fadeInUp">
                <div class="col-md-4 col-sm-12">
                        <div class="happy-clients-text">
                            <span class="counter" data-count="{{members}}">0 </span>
                            <h4>Members</h4>
                        </div>
                </div>
                
                <div class="col-md-4 col-sm-12">
                        <div class="happy-clients-text">
                            <span class="counter" data-count="{{invested}}" >0</span>
                            <h4>Invested</h4>
                        </div>
                </div>
                <div class="col-md-4 col-sm-12">
                        <div class="happy-clients-text">
                            <span class="counter" data-count="{{withdraw}}">0 </span>
                            <h4>Withdrawal</h4>
                        </div>
                </div>
<!--                 <div class="col-md-3 col-sm-6">
                        <div class="happy-clients-text">
                            <span class="counter" data-count="1750" >0 </span>
                            <h4>complete project</h4>
                        </div>
                </div> -->
            </div>
        </div>
    </section><!--Project Done so far end-->    


    <!--about us page content start-->
    <section class="section-padding why-should-us">
        <div class="container">
            <div class="row">
                 <div class="col-md-6 col-md-offset-3">
                     <div class="section-title text-center section-padding padding-bottom-0">
                         <h2>Why Should Choose Us</h2>
                         <!-- <p>Lorem ipsum dolor si amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p> -->
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-12 text-center">
                    <div class="what-we-do-wrapper">
                        <div class="column-right wow fadeInRight">
                           <div class="what-icon">
                               <img src="static/img/registered.jpg" alt="Top Sponsor">
                           </div>
                           <h4>UK REGISTERED</h4>
                            <p>The company is registered in United Kingdom and provides legitimate trust management services worldwide!</p>
                        </div>
                        <div class="column-left wow fadeInLeft">
                           <div class="what-icon">
                                <img src="static/img/Secure.png" alt="Highly Secure">
                           </div>
                           <h4>ANTI-DDOS PROTECTION</h4>
                           <p>Secure DDOS GUARD protection!</p><br><br>
                        </div>
                        <div class="column-center">
                              <div class="what-icon">
                               <img src="static/img/top-sponsers.png" alt="Top Sponsor">
                           </div>
                           <h4>Withdraw any time</h4>
                           <p>You can make as many requests as you want everyday!</p>
                            <br>
                        </div>
                    </div>
                     <div class="what-we-do-wrapper">
                        <div class="column-left last wow fadeInLeft">
                        <div class="what-icon">
                               <img src="static/img/handshake.png" alt="Top Sponsor">
                           </div>
                           <h4>USER-FRIENDLY INTERFACE</h4>
                            <p>Whether you are a beginer or a veteran in the online investment field, we are sure that you will find our platform easy to use!</p>
                        </div>
                        <div class="column-center last"><div class="what-icon">
                               <img src="static/img/refer-earn.png" alt="Top Sponsor">
                           </div>
                           <h4>REFERRAL SYSTEM</h4>
                            <p>We offer a Three level affiliate program as an advanced earning option for you!</p>
                            <br>
                            <br>
                        </div>
                        <div class="column-right last wow fadeInRight">
                              <div class="what-icon">
                               <img src="static/img/support.png" alt="Top Sponsor">
                           </div>
                           <h4>PROFESSIONAL TEAM</h4>
                            <p>We work on the principe of Minimum Risk Maximum Return, to get the best out of the market for you!</p>
                        </div>
                    </div>
                     <div class="what-we-do-wrapper">
                        <div class="column-left last wow fadeInLeft">
                        <div class="what-icon">
                            <img src="static/img/profit.jpg" alt="Top Sponsor">
                           </div>
                           <h4>MAXIMUM PROFIT</h4>
                            <p>Your capital investment with SolarBit gets you 3% guaranted daily net profit!</p>
                        </div>
                        <div class="column-center last"><div class="what-icon">
                               <img src="static/img/endless.png" alt="Top Sponsor">
                           </div>
                           <h4>ENDLESS INCOME</h4>
                            <p>Having invested once, your income is streaming at your wallet daily. Lifetime ...</p>
                        </div>
                        <div class="column-right last wow fadeInRight">
                              <div class="what-icon">
                                <img src="static/img/partners.png" alt="Top Sponsor">
                              </div>
                           <h4>STRONG PARTNERS</h4>
                            <p>Invite your friends and colleagues, help SolarBit grow bigger and get 10% bonus from all investments made by your affiliates.</p>
                        </div>
                    </div>                    
                 </div>
             </div>
        </div>
    </section>

   
    <!--testimonial section start-->
    <section class="section-padding  testimonial-section testimonial-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title text-center">
                         <h2 class="color-text">How it Works</h2>
                     </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                     <div class="row text-center wow fadeInUp">
                            <div class="col-md-4 col-sm-12">
                                    <div class="happy-clients-text">
                                        <span class="counter" data-count="{{members}}">0 </span>
                                        <h4>Members</h4>
                                    </div>
                            </div>
                            
                            <div class="col-md-4 col-sm-12">
                                    <div class="happy-clients-text">
                                        <span class="counter" data-count="{{invested}}" >0</span>
                                        <h4>Invested</h4>
                                    </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                    <div class="happy-clients-text">
                                        <span class="counter" data-count="{{withdraw}}">0 </span>
                                        <h4>Withdrawal</h4>
                                    </div>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </section><!--testimonial section end-->
    
    <!--Deopsit and Payouts section start-->
    <section class="section-padding deposti-section">
        <div class="container">
           <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title text-center">
                         <h2 class="color-text">latest transaction</h2>
                         <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                     </div>
                </div>
            </div>
            <div class="row text-center wow fadeInUp">
                <div class="col-md-12">
                    <ul class="nav nav-tabs deposit-tabs">
                        <li class="active"><a href="#deposit" data-toggle="tab">Latest Deposit</a></li>
                        <li><a href="#withdraw" data-toggle="tab">Latest Withdraw</a></li>
                        <li><a href="#investers" data-toggle="tab">Top Investers</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="deposit">
                            <table>
                              <thead>
                                <tr>
                                  <th scope="col">Name</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">Currency</th>
                                  <th scope="col">Amount</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td  data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td  data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td  data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td  data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td  data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td  data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                        
                        <div class="tab-pane fade in" id="withdraw">
                            <table>
                              <thead>
                                <tr>
                                  <th scope="col">Name</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">Currency</th>
                                  <th scope="col">Amount</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td  data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td  data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade in" id="investers">
                            <table>
                              <thead>
                                <tr>
                                  <th scope="col">Name</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">Currency</th>
                                  <th scope="col">Amount</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td  data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td  data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                                <tr>
                                  <td data-label="Account">Jhone Doe</td>
                                  <td data-label="Due Date">Oct 24,2017</td>
                                  <td data-label="Amount">bitcoin</td>
                                  <td data-label="Period">.75354 BTC</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section><!--Deopsit and Payouts Section End-->
    
    <!--pament method section start-->
    <section class="section-padding payment-method payment-bg">
           <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title text-center">
                         <h2>payment method</h2>
                         <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                     </div>
                </div>
            </div>
            <div class="row text-center wow fadeInLeft">
                <div class="col-md-12">
                    <div class="payment-logo">
                        <a href="https://perfectmoney.is" target="_blank"> <img src="static/img/perfectmoneylogowbg.png"  alt="Perfect Money"></a>
                        <a href="https://bitcoin.org" target="_blank"><img src="static/img/bitcoinlogowbg.png"  alt="Bit Coin"></a>
                        <a ><img src="static/img/advcashlogowbgna.png"  alt="Adv Cash: not supporting yet" class="not-active"></a>
                        <a ><img src="static/img/payeerlogowbgna.png"  alt="Payment Method Logo"  class="not-active"></a>
                    </div>
                </div>
            </div>
         </div>
    </section><!--pament method section end-->
{% endblock %}
