{% extends "layout.html" %}
{% block main %}

<section class="breadcrumb-section contact-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>Privacy</h1>
            </div>
        </div>
    </div>
</section>
 

 <div class="container">
     <div style="margin-top:30px; margin-bottom:50px">
        <h3 style="margin-bottom: 35px;">PRIVACY</h3>
        <p>This policy describes how Solarbit Limited (collectively, “Solarbit Limited”, “we”, “us” or “our”) collects, uses, and shares the information we obtain from you online.</p>
        <br>
        <h4>What Our Privacy Policy Covers</h4>
        <p>This privacy policy discusses the “personal information” that Solarbit Limited obtains from you on <a href="/">Solarbit.biz</a>. When we use the term “personal information” we are referring to information that is connected to your name. This may include things like your e-mail address, e-currency account number, birthday (if available), telephone number (if available), or another profile information you provide.</p>
        <p>This privacy policy does not cover information that you submit on other websites, even if we communicate with you on those sites. For example, if you post something on instagram.com, facebook.com, twitter.com, telegram.org, slack.com, bitcointalk.org, youtube.com, that information is governed by the privacy policies on those websites, and is not governed by this policy.</p>
        <p>Note that we do not intentionally collect any personal information from people under the age of 18. If you are under the age of 18, you can look at our websites, but you should not make a purchase, register, or submit personal information to us.</p>
        <br>
        <h4>How We Use Your Personal Information</h4>
        <p>Solarbit Limited company primarily uses the personal information that it collects to provide you with news, information, and services of our company. We may also use your information to contact you for account and promotional purposes. We may also use your personal information for other legitimate business purposes, including to detect and prevent fraud, to collect amounts owing to us and to maintain business records.</p>
        <p>Solarbit Limited company may share de-identified information (i.e., information that is not directly connected to your name) in the following circumstance:</p>
        <p>Aggregate information. We may share de-identified aggregate information about our customers with advertisers and marketing partners.</p>
        <br>

        <h4>How We Protect Your Information</h4>
        <p>We realize that our customers trust us to protect their personal information. We take that task seriously and maintain physical, electronic and procedural safeguards to help protect your personal information.</p>
        <br>
        <h4>Communicating With Us</h4>
        <p>If you have any questions about our privacy or security practices, or of you would like to request access to or correction of your personal information, you can contact Solarbit Limited company by mail, telephone, or e-mail: support@solarbit.biz</p>
        <p>Your right to access or correct your personal information is subject to applicable legal restrictions. We may take reasonable steps to verify your identity before granting access or making corrections.</p>
        <p>If we need, or are required, to contact you concerning any event that involves your personal information we may do so by e-mail, telephone, or mail.</p>
        <br>
        <h4>Changes To This Policy</h4>
        <p>We may revise this policy from time to time. You should review our privacy policy periodically so that you keep up-to-date on our most current practices. We will note the effective date of the latest version at the end of each policy.</p>

  </div>
</div>


{% endblock %}
