{% extends "layout.html" %}
{% block main %}
    <!--header section start-->
    <section class="breadcrumb-section contact-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1>Register</h1>
                </div>
            </div>
        </div>
    </section><!--Header section end-->


<!--login section start-->
<div class="login-section section-padding login-bg">
    <div class="container">
        <div class="row">
             <div class="col-md-6 col-md-offset-3">
      <div class="main-login main-center">
        <a href="index.html"><img src="static/img/logo.png" alt="Logo Image Will Be Here"></a>
          <form action="{{ url_for('home.register') }}" method=post class="form-horizontal">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Username</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="username" id="username"  
                    placeholder="Enter your Name" value="{{ request.form.username }}" required/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="cols-sm-2 control-label">Your Email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="email" id="email" 
                   placeholder="Enter your Email" value="{{ request.form.email }}"
                    required/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label">Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" name="password" id="password" 
                   placeholder="Enter your Password" value="{{ request.form.password }}" required/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" name="password_repeat" id="password_repeat"  placeholder="Confirm your Password" value="{{ request.form.password_repeat }}" required/>
                </div>
              </div>
            </div>


            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">PIN number</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user-secret fa-lg" aria-hidden="true"></i></span>
                  <input type="number" min="0" max="9999"  class="form-control" name="pin_number" id="pin_number"  placeholder="Pin number (4 digits)" value="{{request.form.pin_number}}" />
                </div>
                  <span style="font-size:12px">Keep PIN in safe place! Will be used during withdraw</span>
              </div>
            </div>

            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">Referral</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="refemail" id="refemail"  placeholder="Referral" value="{% if referral %} {{referral}} {% endif  %}"/>
                </div>
              </div>
            </div>

            <div class="form-group">
                  <div style="float:left">
                      <a id="social_button" style="cursor: pointer; font-weight:800">Social</a>
                  </div> 
                  <div class="reg-accept">
                    <input type="checkbox" name="accept" id="accept" novalidate/>
                    <label for="accept" style="font-weight:300"><i class="fa fa-check" aria-hidden="true"></i>I accept</label>
                    <a href="{{url_for('home.terms')}}" target="_blank">Terms and Conditions</a>
                  </div>
            </div>

            <div class="social_register_hidden" id="social_register">
              <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Facebook</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="fb" id="fb"  placeholder="Facebook" />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Skype name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-skype fa-lg" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="skype" id="skype"  placeholder="Skype name"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
                  <div class="col-md-12 col-sm-12 col-xs-12 captcha-new">
                    <label for="captcha">{{a}}+{{b}}=</label>
                    <input  type="number" min="0" max="20" name="captcha" placeholder="">
                  </div>
                  <button type="submit" class="submit-btn btn btn-lg btn-block login-button">Register</button>
            </div>

          </form>
        </div>   
       </div>
        </div>
    </div>
</div>


{% endblock %}
