{% extends "layout.html" %}
{% block main %}
    <!--header section start-->
    <section class="breadcrumb-section contact-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1>Register</h1>
                </div>
            </div>
        </div>
    </section><!--Header section end-->


<!--login section start-->
<div class="login-section section-padding login-bg">
    <div class="container">
        <div class="row">
             <div class="col-md-6 col-md-offset-3">
      <div class="main-login main-center">
        <a href="index.html"><img src="assets/img/logo.png" alt="Logo Image Will Be Here"></a>
          <form action="{{ url_for('home.register') }}" method=post class="form-horizontal">
            <h2>Sign up for SolarBit </h2>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Your Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="username" id="username"  
                    placeholder="Enter your Name" value="{{ request.form.username }}" required/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="cols-sm-2 control-label">Your Email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="email" id="email" 
                   placeholder="Enter your Email" value="{{ request.form.email }}"
                    required/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label">Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" name="password" id="password" 
                   placeholder="Enter your Password" value="{{ request.form.password }}" required/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" name="password_repeat" id="password_repeat"  placeholder="Confirm your Password" value="{{ request.form.password_repeat }}" required/>
                </div>
              </div>
            </div>


            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">PIN number</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user-secret fa-lg" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="pin_number" id="pin_number"  placeholder="Pin number" value="{{request.form.pin_number}}" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">Referral email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="refemail" id="refemail"  placeholder="Referral email" value="{% if referral %} {{referral}} {% endif  %}"/>
                </div>
              </div>
            </div>

            <div class="form-group">
                  <button type="submit" class="submit-btn btn btn-lg btn-block login-button">Register</button>
            </div>

          </form>
        </div>   
       </div>
        </div>
    </div>
</div>


{% endblock %}
