{% extends "layout.html" %}
{% block main %}

    <!--header section start-->
      <div class="breadcrumb-section contact-bg section-padding">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                  <h1>REFERRAL SYSTEMS</h1>
              </div>
          </div>
      </div>
      </div><!--Header section end-->
    

    <section class="section-padding our-plan service-page">
        <div class="container">
            <div class="row">
                    <div class="section-title text-center">
                         <h2 class="color-text">Our awesome referral systems</h2>
                         <p>Our referral program will earn you additional income, by bringing new investors into the system. Our goal is to build a widespread global partner network. To this end, we provide special conditions for our partners.
After registering on the website, each user receives unique affiliate link in his personal account. You can use this link to register other investors.

It works quite simply. You place your unique link(or bright animated banners, which are also available in your account) on your website, at numerous forums on investment or just share this link with your friends. As soon as someone clicks on link link and passed the registration procedure, he automatically becomes your referral. It remains to wait until your referral will start investing.

However, if your referral makes another deposit you will receive your procent of its amount again.

Thus, you can earn even without own deposit! Affiliate commission can be withdrawn to your e-wallet, or used to make a new deposit.
</p>
                     </div>
            </div>
            <div class="row">

                <div class="col-md-6 col-sm-6 wow fadeInUp">
                    <div class="price-table text-center">
                        <div class="price-table-header">
                            <h4>standard</h4>
                            <p>Invite your friends to register new account with your referral link and start to earn money for free.</p>
                        </div>
                        <div class="price-table-body">
                            <p> Level1 - <span class="color-text">10%</span> </p>
                            <p> Level2 - <span class="color-text">1%</span> </p>
                            <p> Level3 - <span class="color-text">1%</span> </p>
                        </div>
                        <div class="price-table-footer">
                            <a href="{{url_for('userprofile.dashboard')}}" class="boxed-btn">invest</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 wow fadeInUp">
                    <div class="price-table text-center">
                        <div class="price-table-header">
                            <h4>VIP</h4>
                            <p>Deposit min 125$ (or 0.0125Ƀ) and join VIP referral program (email request).</p>
                        </div>
                        <div class="price-table-body">
                            <p> Level1 - <span class="color-text">15%</span> </p>
                            <p> Level2 - <span class="color-text">2%</span> </p>
                            <p> Level3 - <span class="color-text">1%</span> </p>
                        </div>
                        <div class="price-table-footer">
                            <a href="{{url_for('userprofile.dashboard')}}" class="boxed-btn">invest</a>
                        </div>
                    </div>
                </div>
<!--                 <div class="col-md-3 col-sm-6 wow fadeInUp">
                    <div class="price-table text-center">
                        <div class="price-table-header">
                            <h4>ultimate</h4>
                            <p>hourly 3% for 100 times</p>
                        </div>
                        <div class="price-table-body">
                            <p> <span class="color-text">hourly</span> Return</p>
                            <p>for <span class="color-text number">100</span> times</p>
                            <p> <span class="color-text number" >3%</span> roi each time</p>
                            <p> Min Return<span class="color-text "> $100</span></p>
                            <p> Max Return<span class="color-text "> $1000</span></p>
                        </div>
                        <div class="price-table-footer">
                            <a href="#" class="boxed-btn">sign up</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft">
                <h2>15% - 2% - 1% <br/> REFERRAL <br/>COMMISSION</h2>
            </div>
            <div class="col-md-6 wow fadeInRight">
                <img src="static/img/call-to-action.png" alt="Call to action image">
            </div>
        </div>
    </div>
</section>
    
    <!--pament method section start-->
    <section class="section-padding payment-method payment-bg">
           <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title text-center">
                         <h2>payment method</h2>
                     </div>
                </div>
            </div>
            <div class="row text-center wow fadeInLeft">
                <div class="col-md-12">
                    <div class="payment-logo">
                        <a href="https://perfectmoney.is" target="_blank"> <img src="static/img/perfectmoneylogowbg.png"  alt="Perfect Money"></a>
                        <a href="https://bitcoin.org" target="_blank"><img src="static/img/bitcoinlogowbg.png"  alt="Bit Coin"></a>
                        <a ><img src="static/img/advcashlogowbgna.png"  alt="Adv Cash: not supporting yet" class="not-active"></a>
                        <a ><img src="static/img/payeerlogowbgna.png"  alt="Payment Method Logo"  class="not-active"></a>
                    </div>
                </div>
            </div>
         </div>
    </section><!--pament method section end-->

{% endblock %}
