{% extends "layout.html" %}
{% block main %}

<section class="breadcrumb-section contact-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>Terms & conditions</h1>
            </div>
        </div>
    </div>
</section>
 

 <div class="container">
     <div style="margin-top:30px; margin-bottom:50px">
        <h3 style="margin-bottom: 35px;">TERMS &amp; CONDITIONS</h3>
        <p>Before using this website and the registration process, please read these terms and conditions! The fact of using this website you agree to accept these conditions and agree to observe them.</p>
        <h4>1. General conditions</h4>
        <p> 1.1. Participation in the platform is possible only for persons who have reached the age of majority, which is established by law in the country of residence. Usually it is 18 years and older.</p>
        <p> 1.2. Passing the registration procedure on the official website of the SolarBit platform "www.solarbit.biz", and exactly the same as the subsequent cooperation, including investment, is only a decision taken by the platform participant voluntarily, without external influence, coercion or threats.</p>
        <p> 1.3. SolarBit undertakes not to transfer personal data of the participant (login, first name, last name, e-mail address and information about deposits) to any third parties.</p>

        <h4>2. Rights and Obligations of the parties</h4>
        <p><strong>2.1. The participant has the right:</strong></p>
        <p> 2.1.1. Register on the site and have only one account in the system.</p>
        <p> 2.1.2. To transfer money to the account in the system by any of the ways available on the site. </p>
        <p> 2.1.3. Open one or more parallel deposits at your own discretion.</p>
        <p>2.1.4. To participate in the promotions and competitions held on the platform in accordance with the rules of shares and competitions published on the official website.</p>
        <p>2.1.5. Become a member of the affiliate program and attract referrals, getting a partner reward.</p>
        <p><strong>2.2. The Participant undertakes:</strong></p>
        <p>2.2.1. Use only the payment instruments that belong to him to replenish the balance in the system and withdraw funds.</p>
        <p> 2.2.2. To make replenishment of the balance by the means having the lawful origin.</p>
        <p> 2.2.3. Keep data safe for access to your account and do not share your account with third parties.</p>
        <p> <strong>2.3. SolarBit has the right:</strong></p>
        <p> 2.3.1. Block the member's account in the event that the payment system informs about the unlawful actions of the Participant, and also at the request of the law enforcement bodies.</p>
        <p> 2.3.2. Refuse the Participant in the provision of services and block the account in the event that the Participant attempts to damage the platform in one way or another (slander, discredit, blackmail, attempts to hack the website, spam, etc.). In this case, SolarBit may begin the procedure for refunding the deposit or confiscate the invested funds to cover the losses incurred.</p>
        <p> 2.3.3. Modify, add, rename, or leave unchanged any sections, paragraphs and sub-paragraphs of these terms and conditions with notification of participants on the site. </p>
        <p><strong>2.4. SolarBit undertakes:</strong></p>
        <p> 2.4.1. Ensure confidentiality of the Participant's personal data.</p>
        <p> 2.4.2. Make accruals on the participant's balance sheet according to the conditions of the investment plan chosen by the participant. </p>
        <p>2.4.3. Monitor the site's performance and ensure unhindered access to the account.</p>

        <h4>3. Accruals on deposits</h4> 
        <p>3.1. The accrual of profit on tariffs is made according to the conditions specified for each investment plan.</p>
        <p>3.2. The participant has the right to dispose of the profit at his own discretion.</p>
        <p>3.3. The participant is allowed to increase the deposit amount at any time at his own request.</p>
        <p>3.4. The accruals on the deposit are not limited to the validity period, not counting the circumstances of the force majeure, namely (earthquakes, floods, etc.), the circumstances of public life (military actions, emergency situations, major strikes, epidemics, etc.), prohibitive measures state bodies (currency restrictions, international sanctions of prohibition, etc.). During this time, the parties have no mutual claims, and each party assumes its own risk of the consequences of force majeure.</p><p>
        
        </p><h4>4. Mutual settlements</h4>
        <p>4.1. A participant can transfer funds to his account at any time by any available means.</p>
        <p>4.2. The funds transferred by the Participant to their account are credited immediately and are not subject to additional commissions from the platform. However, such commissions may be present from the participant's payment system.</p>
        <p>4.3. The transferred funds are credited to the Member's account in the currency RUB / USD.</p>
        <p>4.4. The security of payments is regulated by the document - "Security".</p>
        <p>4.5. Payments are made to the details specified by the participant in the personal account section "My Wallets". SolarBit is not responsible for incorrectly specified details and payments made for incorrectly specified details.</p>
        <p>4.6. Payments are not subject to additional commissions.</p>

        <h4>5. Affiliate Program</h4>
        <p>5.1. Each partner receives a unique referral link, registering where the invited participant is linked to the account of the partner who invited him.</p>
        <p>5.2. The partner commission is calculated from the amount of the open deposit of the referral and is credited to the partner's balance immediately after the opening of the deposit by the referral.</p>
        <p>5.3. The partner has the right to dispose of the received commission at his own discretion.</p>

        <h4>6. Copyright</h4>
        <p>6.1. All the content that is contained on the pages and investments of the SolarBit site "solarbit.biz", whether it is textual, graphic or other information, is the exclusive intellectual property of SolarBit.                            </p>
        <p>6.2. Any references, literal or partially verbatim citations of this content must be accompanied by a mandatory mention of intellectual property.                            </p>
        <p>6.3. Partial or complete copying of this content for the purpose of its further distribution or commercial use can be carried out only with the appropriate coordination with the SolarBit administration.                            </p>
        
        <h4>7. Responsibility</h4>
        <p> For non-compliance and / or failure to comply with these Rules or ignoring the warnings from the administration, SolarBit may, without further negotiations and discussions with the interested party, partially restrict access, temporarily block or permanently delete the account of such Participant. Funds in the form of a basic deposit, interest accruals on it, referral and bonus rewards, as well as other funds that could be on the balance of the account at the time of establishing the fact of non-compliance with the Rules, are not refundable.</p>

        <h4>8. Final Provisions</h4>
        <p>8.1. These Rules are mandatory for familiarization by all participants of the platform on the official website "solarbit.biz" in the section "Terms and Conditions".</p>
        <p>8.2. The Parties acknowledge that these Rules are the Cooperation Agreement, which is confirmed by the fact of passing the registration procedure and is signed by the participant with the help of an electronic signature, for which a confirmatory action on consent and familiarization in the registration form is accepted.</p>
        <p>8.3. The agreement has bilateral legal force, can not be challenged by third parties.</p>
        <p>8.4. All disputes and disagreements arising between the parties in the course of business interaction under this agreement shall be resolved through negotiations. In case of impossibility of their elimination, the parties have the right to apply for judicial protection of their interests.</p>
  </div>
</div>


{% endblock %}
