{% extends "layout.html" %}

{% block main %}

<!--header section start-->
 <section class="breadcrumb-section contact-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>Unconfirmed</h1>
                 <p>You have not confirmed your account. Please check your inbox (and your spam folder) - you should have received an email with a confirmation link.</p>
<p>Didn't get the email? <a href="{{ url_for('home.resend_confirmation') }}" style="color:#00b256">Resend</a>.</p>
            </div>
        </div>
    </div>
    </section><!--Header section end-->
            <!--about us page content start-->
<section class="section-padding about-us-page about-page">
         <div class="container">
             <div class="row">
                 <div class="col-md-6 wow fadeInLeft">
                  <img src="static/img/about-home-new-bg.png" class="img-responsive img-pdt-btm" alt="About Us Image">
                 </div>
                  <div class="about-us-content wow fadeInRight">
                      <h2>Company overview</h2>
                      Solarbit was founded at the end of 2012. The founders of our company are specialists from various fields who got to know each other by using the same platform while investing in cryptocurrency and business development.
Clearly understanding the beginning of new era in which the block chain technologies will be almost in all fields, Solarbit makes investments in new low-cost technologies being developed to lead to financial stability and independence of peoples from various countries, at the same time to be resource-saving. We guarantee absolute  results of the modern and new technologies by means of our company. Everything we could previously see in science fiction books and films currently is going to become true. 
The slogan of Solarbit is – “Invest in future and for financial independence of new generations”.

Highly competent team of specialists - experienced experts who worked in various company investments all over the world and are involved in global market monitoring and analysis, selects the block chain based startups. The selected projects will allow making the world better and making step forward towards peoples’ financial independence. They are aimed at delivering newest low-cost technologies to each family in the world. Before investing, we analyze new projects promptly and evaluate the risks. Having evaluated the maximum and minimum of the profit, we make an investing decision. 
Our investment program is one of the easiest and the most effective way of getting high (or even extremely high) income.
Everybody can become an investor and help us to reach the goals. Pooled investment with our company allows you to receive dividends and make high profit on joint deposits. Due to the long-term experience of our company, Solarbit’s cash flow is considerable so you get a profit daily without any delay.

All transactions are handled via Perfect Money and Bitcoin; however, the additional options will be available soon.  

                      <div>
                          <a href="{{url_for('userprofile.dashboard')}}" class="btn btn-home" style="width:290px; height:65px; font-size:24px; line-height:55px;">OPEN DEPOSIT</a>
                      </div>
                  </div>
             </div>
        </div>
</section>

{% endblock %}
