{% extends "layout.html" %}

{% block main %}

<!--header section start-->
 <section class="breadcrumb-section contact-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>Unconfirmed</h1>
                 <p>You have not confirmed your account. Please check your inbox (and your spam folder) - you should have received an email with a confirmation link.</p>
<p>Didn't get the email? <a href="{{ url_for('home.resend_confirmation') }}" style="color:#00b256">Resend</a>.</p>
            </div>
        </div>
    </div>
    </section><!--Header section end-->
            <!--about us page content start-->
<section class="section-padding about-us-page about-page">
         <div class="container">
             <div class="row">
                 <div class="col-md-6 wow fadeInLeft">
                  <img src="static/img/about-home-new-bg.png" class="img-responsive img-pdt-btm" alt="About Us Image">
                 </div>
                  <div class="col-md-6">
                  <div class="about-us-content wow fadeInRight">
                      <h2>awesome community</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam alias repellat esse ratione et ipsam vel minima maxime repudiandae est inventore sit provident corrupti voluptates quisquam quam nihil tempore dignissimos harum, voluptatibus quia. Quas, culpa perspiciatis nisi! Ipsa saepe labore consequuntur.</p>
                  </div>
                 </div>
             </div>
        </div>
</section>

{% endblock %}
