div#content {
    display: none;
    }
 
div#loading {
    top: 200 px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background: url(loadingimage.gif) no-repeat;
    cursor: wait;
    }

.footer-delimeter {
    padding-top:30px;
    padding-bottom:30px;
    text-align: left;
    color:white;
    margin-left: 15px;
}


.footer-delimeter > a {
    font-size: 16px;
    display: block;
    padding: 6px 0;
    color: #7e7b79;
    cursor: pointer;
    line-height: 1;
}

.footer-delimeter > a:hover {
    color:#00b256;
}

.footer-delimeter > h3{
    font-size: 14px;
    margin-bottom: 15px;
    color: #fff;
}

@media (min-width: 786px) {
    .footer-bottom {
        display: none;
    }
    .footer-top {
        display: none;
    }
}

@media (max-width: 786px) {
    .footer-bottom-expanded {
        display: none;
    }
}

.social-links-bottom > a > i{
    color: #fff;
    display: inline-block;
    padding: 5px;
    background: #595A5B;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 13px;
    /*border-radius: 50%;*/
    transition: .5s;
}

.social-links-bottom > a > i:hover{
    background-color:#00b256;
}

.reg-accept input:checked+label i{
    opacity: 1 !important;
}

.reg-accept > label > i {
    font-size: 20px;
    position: relative;
    top: 2px;
    left: -25px;
    color: #00b256;
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.reg-accept > label {
    cursor: pointer;
    margin-right:15px;
    margin-left:0px;
}

.reg-accept > label::before {
    content: '';
    display: block;
    position: relative;
    top: -3px;
    left: 0px;
    width: 30px;
    height: 30px;
    border: 1px solid #c1c1c1;
    -webkit-box-shadow: 0 0 2px #c1c1c1;
    box-shadow: 0 0 2px #c1c1c1;
    float:left;
}

.reg-accept  {
    text-align: right;
}

.reg-accept > input {
    display:none;
}

.reg-accept > a {
    white-space: nowrap;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1111111111; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.imgDialogClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.imgDialogClose:hover,
.imgDialogClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
