body,html{
    height: 100%;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }


 /*@media (min-width: 765px) {*/

    .main{
      position: absolute;
      width: calc(100% - 115px); 
      left:80px;
      /*margin-left: 40px;*/
      float: right;
    }

    nav.sidebar:hover + .main {
      margin-left: 210px;
    }

    .navbar-brand {
      color: #63cc88 !important;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 250px;
      height: 100%;
      margin-left: -210px;
      float: left;
      margin-bottom: 0px;
      margin-top: 0px;
      z-index: 1000;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  /*}*/
/*
    nav.sidebar.active {
      margin-left: 0px;
    }

    nav.sidebar.passive {
      margin-left: -210px;
    }*/
   
  @media (min-width: 992px) {

    .main{
      width: calc(100% - 325px);
      margin-left: 210px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
      margin-top:0px;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }

  section{
    padding-left: 15px;
  }
  
  .left-side-nav > li > a {
    color: #777;
    font-weight: 700;
    font-size: 16px;
    padding: 15px;
  }

  .left-side-nav >li.active>a {
    color: #00B356;
    background-color: #efeeee;
  }

  .left-side-nav  > li{
    border-bottom: 1px #e5e5e5 solid;
  }

  .top-navbar {
    background-color: #444;
    color:#63cc88;
}
 
  .top-navbar .navbar-right > li > a{
    color:#63cc88;
}

.main-area {
  height: 100%;
      background-color: #fBfbfb;
}

@media (min-width: 1200px) {
  .main-area {
    position:absolute;
    left:5%;
    width:1150px;
    height: 100%;
  }
}

@media (min-width: 1300px) {
  .main-area {
    position:absolute;
    left:10%;
    width:1150px;
    height: 100%;
  }
}


@media (min-width: 1500px) {
  .main-area {
    position:absolute;
    left:15%;
    width:1150px;
    height: 100%;
  }
}


.input-value > input {
  height: 35px;
  border-color: #d6d6d6;
  border-radius: 3px;
  margin-left: -30px;
}

.pm-img {
  width:160px;
  height: 40px;
  content:url("/static/img/perfectmoneylogo.png");
}

.bc-img {
  width:160px;
  height: 40px;
  content:url("/static/img/bitcoinlogo.png");
}

.input-value > span {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 1;
    color: #868886;
}

.input-value > p {
  margin: -7px -30px 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  font-style: italic;
  color: #868886;
}

@media (max-width: 600px) {
  .pm-img {
    content:url("/static/img/perfectmoneyicon.png");
    /*background: url(http://127.0.0.1:5000/static/img/perfectmoneyicon.png) no-repeat;*/
    width:30px;
    height: 30px
  }

  .bc-img {
    content:url("/static/img/bitcoinicon.png");
    /*background: url(http://127.0.0.1:5000/static/img/perfectmoneyicon.png) no-repeat;*/
    width:30px;
    height: 30px
  }
 .input-value > input{
  width:90%;
 }

}

.payment-row {
  height: 70px;
}



/*==================
Footer Section CSS
===================*/
.footer-bottom{
    background: #444;
    color: #fff;
    width:100%;
    position: fixed;
    left:0px;
    bottom:1px;
    z-index: 1001;
    text-align: right;
    line-height: 0.5;
}
.footer-section {
    background: #fff;
    color: #333;
    padding-top: 50px;
}
.footer-logo {
    padding-bottom: 22px;
}

.footer-text {
    padding-bottom: 37px;
}

.footer-social-link h3 {
    color: #333;
    text-transform: uppercase;
}

.footer-social-link {
    padding-bottom: 94px;
}

.copyright-text {
    font-weight: 300;
    font-size: 14px;
    padding:20px;
    margin-bottom: 0;
}
.social-link i {
    color: #fff;
    display: inline-block;
    padding: 5px;
    background: #595A5B;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 13px;
    border-radius: 50%;
    transition: .5s;
}

.social-link i:hover {
    background: #00B356;
}

.social-link {
    padding-bottom: 24px;
}

.footer-logo img {
    height: 80px;
}

.close_menu {
  position: relative;
  top:0px;
  left:230px;
}

@media (min-width: 992px) {
  .close_menu {
    display: none;
  }
}

.account_numbers {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  color: #63cc88;
}

.account_numbers > p > span {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #63cc88;
}

.account_section > p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 15px;
  font-weight: 400;
  color: #959595;
  font-size: 22px;
}

.bit {
  color: #FF9900 !important;
}

.bit > span {
  color: #FF9900 !important;
}


@media (max-width: 700px) {

  .account-right {
    display: none !important;
  }
  
  .account-left {
    border-right: none !important;
    width: 100%;
  }

  .current-plan {
    display: none;
  }

}

.account_detail_section > p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #959595;
  font-size: 16px;
  margin:0px;
}

.account_detail_section {
  margin-top:10px;
}

.deposit-section > label {
  padding-left:30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #959595;
  font-size: 20px;
  margin:0px;
}

.deposit-section > label > input {
  margin-top:10px !important;
}

.deposit-section > h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #959595;
  font-size: 18px;
  margin:0px;
}

.input-amount > input {
  border-radius:6px;
  line-height:0.5;
  padding:7px;
  margin-left: 10px;
  text-align: center;
  border: 1px solid #00B356;
  margin-bottom: 10px;
  font-size: 18px;
  background: #fff;
}


/*remove spinner form input tags when type="number"*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.profit-estimate > span {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    color: #63cc88;
    margin-left:10px;
}

.profit-estimate > span.profit1 {
    font-size: 16px;
    font-weight: 400;
}
.profit-estimate > span.profit2 {
    font-size: 22px;
    font-weight: 500;
}
.profit-estimate > span.profit3 {
    font-size: 24px;
    font-weight: 600;
}

.profit-estimate {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #959595;
    padding-left: 10px;
    margin-top: 20px;
}


.radiotext {
    /*text-align: right;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    color: #63cc88;
}

.amount-input {
    border-radius:6px;
    line-height:0.5;
    padding-top: 7px;
    text-align: center;
    width: 150px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #63cc88;
}

.referr-prog-active {
  color:green;
  font-size: 64px !important;
  text-align: center;
}

.referr-prog {
  color:gray;
  font-size: 64px !important;
  text-align: center;
}

.account-btn-middle {
  height:40px;
  width:150px;
  line-height: 25px;
  font-size: 16px;
}
