{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SolarBit</title>

        <!--Favicon add-->
    	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/fevicon.png')}}">
        <!--bootstrap Css-->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <!--font-awesome Css-->
        <link href="{{ url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">
        <!--owl.carousel Css-->
        <link href="{{ url_for('static', filename='css/owl.carousel.css')}}" rel="stylesheet">
        <!--Slick Nav Css-->
        <link href="{{ url_for('static', filename='css/slicknav.min.css')}}" rel="stylesheet">
        <!--Animate Css-->
        <link href="{{ url_for('static', filename='css/animate.css')}}" rel="stylesheet">
        <!--Style Css-->
        <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/home.css')}}" rel="stylesheet">
        <!--Responsive Css-->
        <link href="{{ url_for('static', filename='css/responsive.css')}}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/common.css')}}" rel="stylesheet">

    </head>

    <body>

    <div class="select-language small-lang" id="lang-select">
        <div class="language-href"><a href="javascript:void(0);"><i class="flag flag_en"></i>ENG</a></div>
        <div class="language-tab">
            <ul class="language-list">
                <li>
                    <a href="?language=en"><i class="flag flag_en"></i>ENG</a>
                </li>
                <li>
                    <a  class="disabled" href="?language=ru"><i class="flag flag_ru"></i>RUS</a>
                </li>
                <li>
                    <a class="disabled" href="?language=de"><i class="flag flag_de"></i>DEU</a>
                </li>
                <li>
                    <a class="disabled" href="?language=es"><i class="flag flag_ge"></i>ESP</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="Switcher">
        <i class="fa fa-calculator" id="Switch-button"></i>
        <h5 style="margin-bottom: 5px">Profit calculator</h5>
        <!-- <ul id="colors" data-dir="assets/css/themes/">
            <li class="theme-3"><span>y</span></li>
            <li class="theme-4"><span>y</span></li>
            <li class="theme-6"><span>p</span></li>
            <li class="theme-9"><span>p</span></li>
            <li class="theme-13"><span>p</span></li>
            <li class="theme-14"><span>p</span></li>
        </ul> -->
        <div class="calc-body">
          <div style="float:left" class="calc-input">
            <input type="text" id="calc-amount" placeholder="Deposit"/>
            <input type="text" id="calc-percent" placeholder="Percent" value="3"/>
            <input type="text" id="calc-days" placeholder="Days"/>
          </div>
          <div style="float:left" class="calc-output">
            <span style="color:#049426; font-size:18px; font-weight:600">Profit</span>
            <br>
            <span id="calc-out" style="color:#63cc88; font-size:28px; font-weight:600">0</span>
          </div>
        </div>
    </div>

    <div class="SocialQA">
        <ul id="socials">
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-youtube-play"></i></li>
        </ul>
    </div>

    <!--Preloader start-->
    <div class="preloader">
        <div class="spinner">
          <div class="cube1"></div>
          <div class="cube2"></div>
        </div>
    </div>
    <!--Preloader end-->
<div class="site"><!--for boxed Layout start-->

    <!--Scroll to top start-->
    <div class="scroll-to-top">
        <a href=""><i class="fa fa-caret-up"></i></a>
    </div><!--Scroll to top end-->

    <!--mobile logo -->
    <div class="mobile-logo">
        <a href="{{url_for('home.index')}}"><img src="static/img/mobile-logo.png" alt="Logo Image Will Be Here"></a>
    </div>

	 <!--main menu start-->
    <nav class="main-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo">
                        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="Logo Image Will Be Here"></a> -->
                        <a href="{{url_for('home.index')}}">SolarBit</a>
                    </div>
                    
    <div class="select-language big-lang" id="lang-select">
        <div class="language-href"><a href="javascript:void(0);"><i class="flag flag_en"></i>ENG</a></div>
        <div class="language-tab">
            <ul class="language-list">
                <li>
                    <a href="?language=en"><i class="flag flag_en"></i>ENG</a>
                </li>
                <li>
                    <a  class="disabled" href="?language=ru"><i class="flag flag_ru"></i>RUS</a>
                </li>
                <li>
                    <a class="disabled" href="?language=de"><i class="flag flag_de"></i>DEU</a>
                </li>
                <li>
                    <a class="disabled" href="?language=es"><i class="flag flag_ge"></i>ESP</a>
                </li>
            </ul>
        </div>
    </div>
                </div>
                <div class="col-md-8 text-right">
                    
                    <nav>
                        <ul id="menu-bar">
                        {{ nav_link('home.index', "Home") }}
                        {{ nav_link('home.about', "About Us") }}
                        {{ nav_link('home.service', "Referral") }}
                        {{ nav_link('home.faq', "FAQ") }}
                        {{ nav_link('home.contact', "Contact") }}
                        {% if g.user.is_authenticated %}
                        <li><a href="{{url_for('userprofile.dashboard')}}" class="btn-border username-btn">{{g.user.username}}</a></li>
                        {% else %}
                        <li><a href="{{url_for('userprofile.dashboard')}}" class="btn-border">Account</a>
                          <ul class="sub-menu">
                          	{% if not g.user.is_authenticated %}
                                {{ nav_link('home.login', "Login") }}
                                {{ nav_link('home.register', "Register") }}
                            {% endif %}
                          </ul>
                        </li>
                        {% endif %}
                        {% if g.user.is_authenticated %}
                          {{ nav_link('home.logout', "Logout") }}
                        {% endif %}
                    </ul>
                    </nav>

                </div>
            </div>
        </div>
    </nav><!--main menu end-->


<!--     <div class="select-language main-area-lang" id="lang-select">
        <div class="language-href"><a href="javascript:void(0);"><i class="flag flag_en"></i>ENG</a></div>
        <div class="language-tab">
            <ul class="language-list">
                <li>
                    <a href="?language=en"><i class="flag flag_en"></i>ENG</a>
                </li>
                <li>
                    <a  class="disabled" href="?language=ru"><i class="flag flag_ru"></i>RUS</a>
                </li>
                <li>
                    <a class="disabled" href="?language=de"><i class="flag flag_de"></i>DEU</a>
                </li>
                <li>
                    <a class="disabled" href="?language=es"><i class="flag flag_ge"></i>ESP</a>
                </li>
            </ul>
        </div>
    </div> -->


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info fade in alert-dismissable" id="flash-alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
          <strong>Info!</strong> {{message}}
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block main %}{% endblock %}

    <footer class="footer-section section-padding padding-bottom-0 text-center">
           <div class="row footer-top">
               <div class="col-md-4 col-md-offset-4">
                  <div class="footer-social-link">
                      <h3>Follow Us on</h3>
                      <div class="social-link">
                          <a href=""><i class="fa fa-facebook"></i></a>
                          <a href=""><i class="fa fa-twitter"></i></a>
                          <a href=""><i class="fa fa-youtube"></i></a>
                          <a href="" class="not-active"><i class="fa fa-instagram"></i></a>
                          <a href="" class="not-active"><i class="fa fa-pinterest"></i></a>
                      </div>
                  </div>
               </div>
           </div>
           <div class="row footer-bottom-expanded" style="background-color:#2c2b2a; padding-bottom: 10px;">
             <div class="col-xs-1 footer-delimeter ">
             </div>
             <div class="col-xs-3 footer-delimeter">
                <div style=" border-right:1px solid #7e7b79;">
                  <div class="footer-logo">
                      <a href="index.html"><img src="static/img/footer-logo.png" alt="Footer Logo"></a>
                  </div>
                    <div style="text-align:left">
                      <p style="font-size:16px; font-weight:500; color:white; font-family:'Poppins', sans-serif; margin-bottom: 0px;">150 New Bond Street, Mayfair, London, <br> United Kingdom, W1S 2TU</p>
                  </div>
                  <div style="text-align:left">
                      <br>
                      <p style="font-size:16px; font-weight:500; color:white; font-family:'Poppins', sans-serif; margin-bottom: 0px;">© 2018 SolarBit</p>
                      <span style="color:#585653; font-size:14px">All rights reserved</span>
                  </div>
                </div>
             </div>
             <div class="col-xs-2 footer-delimeter ">
                <h3>COMPANY</h3>
                <a href="{{url_for('home.about')}}">About us</a>
                <a href="{{url_for('home.service')}}">Referral</a>
                <a href="{{url_for('home.index')}}">Partners</a>
                <a href="{{url_for('home.index')}}">Reviews</a>
             </div>
             <div class="col-xs-2 footer-delimeter ">
              <h3>INFORMATION</h3>
                <a>News</a>
                <a href="{{url_for('home.faq')}}">FAQ</a>
                <a href="{{url_for('home.terms')}}">Security</a>
                <a href="{{url_for('home.terms')}}">Terms &amp; Conditions</a>
             </div>
             <div class="col-xs-2 footer-delimeter ">
              <h3>CONTACTS</h3>
                <a href="{{url_for('home.contact')}}">Contact</a>
                <a> support@solarbit.biz</a>
                <div class="social-links-bottom" style="margin-top:10px">
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-youtube"></i></a>
                </div>
             </div>
           </div>
           <div class="footer-bottom">
               <p class="copyright-text">COPY RIGHTS &copy; 2018. ALL RIGHTS RESERVED </p>
           </div>
    </footer><!--footer section end-->

</div><!--for boxed Layout end: site end--> 

<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
 <!--Owl carousel script load-->
<script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<!--Bootstrap v3 script load here-->
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<!--Slick Nav Js File Load-->
<script src="{{ url_for('static', filename='js/jquery.slicknav.min.js')}}"></script>
<!--Wow Js File Load-->
<script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
 <!--Main js file load-->
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
<script src="{{ url_for('static', filename='js/common.js')}}"></script>
<script src="{{ url_for('static', filename='js/home.js')}}"></script>
</body>
</html>
